
.itemContainer {
  display: flex;
  align-items: center;
  padding: 4px 0;
}

.itemIcon {
  width: 24px;
  height: 24px;
}

.itemButton {
  width: 16px;
  height: 16px;
  margin-left: auto;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  padding: 0;
}

.active {
  text-decoration-line: line-through;
}

.itemText{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 0 12px;
}

@media (min-width: 1024px) {
  .itemText{
    font-size: 18px;
    line-height: 27px;
  }
}