/* 
.containerImage{
  width: calc(var(--mr-col) * 5);
  background-color: var(--color-purple-pink)
}

.image {
  --ml: var(--mr-ma);
  margin-left: calc(var(--ml) * -1);
  width: calc(calc(var(--mr-col) * 5) + var(--ml));
} */


.ToDoApp {
  background-color: var(--color-purple-dark);
  border-radius: 24px;
  padding: calc(var(--mr-col) * 3);
}

@media (min-width: 768px) {
  .ToDoApp {
    padding: calc(var(--mr-col) * 3);
    margin: calc(var(--mr-col) * 3);
  }
}